/* Reset base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.header {
    background-color: #3276db;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    font-size: 2.5em;
    margin: 0;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 600px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

select {
    padding: 15px;
    border: none;
    outline: none;
    background-color: #3276db; /* Same color as the 'Go' button */
    font-size: 1em;
    color: white; /* Text color */
    border-radius: 5px 0 0 5px; /* Rounded on the left */
    height: 54px; /* Match the height of input and button */
}

input[type="number"] {
    flex: 1;
    padding: 15px;
    font-size: 1em;
    border: none;
    outline: none;
    margin-right: 10px; /* Space between input and button */
}

button {
    z-index: 1;
    position: relative;
    padding: 12px 18px;
    background-color: #3276db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    height: 54px;
    min-height: 54px;
    margin-left: 10px; /* Space between input and button */
}

@media screen and (max-width: 600px) {
    .search-bar {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: stretch; /* Stretch items to full width */
    }

    input[type="number"] {
        margin-right: 0; /* Remove right margin for better spacing */
        margin-bottom: 10px; /* Add bottom margin to input */
    }

    button {
        margin-left: 0; /* Remove left margin for better spacing */
    }
}


button:hover {
    background-color: #1f4b8c;
}

.ad-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adds margin between search bar and ad */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 62px; /* Same height as the search bar */
}

.ad-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.information {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-content {
    max-width: 800px;
    margin: 0 auto;
}

.info-title {
    color: #3276db;
    font-size: 1.8em;
    margin-top: 30px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-list a {
    color: #3276db;
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #3276db;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    clear: both;
}

.footer p {
    font-size: 0.7em; /* Adjust font size for the legal paragraph */
    opacity: 0.5; /* Reduce brightness */
}

.footer .footer-text {
    font-size: 1.1em; /* Increase font size for "An Aadi Dandekar Production" */
}


h3 {
    color: #3276db;
}
